PORT=3333
HOST=0.0.0.0
NODE_ENV=dev
APP_KEY=BJYwE2ZmX8QaKbutOvBXTSPYrEFyQWhA
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=